@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) translateX(100px);
    opacity: 0;
  }
}

@keyframes horizontal {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes textGlow {
  from { text-shadow: 0 0 5px rgba(79, 70, 229, 0.5); }
  to { text-shadow: 0 0 15px rgba(79, 70, 229, 0.8); }
}
.animate-text-glow { animation: textGlow 1.5s infinite alternate; }
.animate-pulse-slow { animation: pulse 3s infinite; }